body{
	background-color: #e0e6df;
}

/*nav bar*/
.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7fb576;

}

li {
  float: left;
  size:5px;
  font-size: 25px
}

li a {
  display: block;
  color: #e0e6df;
  text-align: center;
  padding: 2em 9.6em;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e0e6df;
  color:#7fb576;
}
/**/

.post_item{
	margin: 0 auto;	
	word-wrap: break-word; 
	background-color: #7fb576;
	width:50%;
	border-radius: 2%;
	font-family:Arial, sans-serif;


}
.form{
	position: center;
}