body{
	background-color: #e0e6df;

}


#comment_h1{
	margin: 0;
	padding-top: 30px;
}

.post_item{
	margin: 0 auto;	
	word-wrap: break-word; 
	border: 3px solid #7fb576;
	border-radius: 10px;
	margin-top: 10PX;
	width:50%;
	font-family:Arial, sans-serif;
	background-color: white;

}
.post_title{
	margin-left: 6px;
	color:#7fb576;
}
.post_author{
	margin-left: 6px;
}
.post_content{
	margin-left: 6px;	
}
#form{
	text-align: center;
 	padding-bottom: 100px;
 	background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0px, rgba(33, 37, 41, 0.72) 100%), url("luckybackground.jpg");
 }

#text-erea{
	margin: 0 auto;	
}
.posts{

background-color: #e0e6df;
height: 3000px;
padding-top: 100px;
}
#mini_form{
	color: white;
	font-family:Arial, sans-serif;
}
#submit_buttons{
	font-family:Arial, sans-serif;
	font-size: 25px;
}
.submit_erea{
	  border-radius: 4px;
	  margin: auto;
}
.post_content{
	padding-bottom: 7px;
}

textarea {
	margin: auto;
}
#submit_form{
	border-radius: 4px;
	/*background-color: white;*/
	background-color: Transparent;
    border:2px solid white;
	color:white;
	width:100px;
	height: 33px;
	font-size: 20px;

}