html {
  scroll-behavior:smooth
}

/*p{
  margin:10px;
  padding: 16px;
}

h3{
  padding: 22px;
}*/

* {box-sizing: border-box}

body {
  font-family: Verdana; sans-serif;
  margin:0;
  background-color: #e0e6df;
  overflow-x: hidden;
}

/*slideshow design START*/

.mySlides {display: none}
img {
  vertical-align: middle;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*slideshow design END*/

/*header design START*/
header {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

header h1 {
  color: white;
  margin: 0px;
  font-size: 5em;
  text-align: center;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0px, rgba(33, 37, 41, 0.72) 100%), url(bright-bush-close-up-101841.jpg);
  margin: 0px;
  padding: 0px;

}
/*header design END*/

/*getting_started section design START*/
#getting_started {
  background-color: #e0e6df;
  padding-bottom: 75px
  padding-top: 95px;
}

#start_btn {
  color: white;
  border: 5px solid #7fb576;
  background-color: #7fb576;
  border-radius: 25px;
  margin-top: 25px;
  padding: 10px;
  text-decoration: none;
}
/*getting_started section design END*/

/*benefits section design START (basically from trues19)*/
#benefits {
  background-color: white;
}

.container{
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.text-center {
  text-align: center !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

#benefits {
  background-color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 50% !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.page_section h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

hr.dividering {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #03e788 !important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*benefits section design End*/


/*footer design START*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #7fb576;

}
#be_the_change{
  text-align: center;
  color:green;
  font-family: Verdana; sans-serif;
  font-size: 40px;
}
.admin_login h4 {
  margin: 0;
}

footer ul {
  background-color: #7fb576;
}

.creds {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg {
  width: 54px;
}

#youtube {
  width: 45px;
  padding-right:5px;
  margin-left: 4px
}
/*footer design END*/

