/*nav bar*/
.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  z-index: 2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}

li {
  float: left;
  size:5px;
  font-size: 25px;
  border-left: 2px solid #7fb576;

}

#log_out_button{
  size:2px;
  font-size: 25px;
  padding: 1em 3em;
}


li a {
  display: block;
  color: #7fb576;
  text-align: center;
  padding: 1em 8.02em;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #e0e6df;
  color:#7fb576;
  cursor: pointer;
}

/**/