<!DOCTYPE html>
<html>
<head>
	<title>Chat Room</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
</head>
<body>
	<div class = "navbar">
	<ul>
  		<li><a href="{{url_for( 'home')}}">Home</a></li>
  		<li><a href="{{url_for( 'chat')}}">Chat</a></li>
  		<li><a href="{{url_for( 'tips')}}">Tips & must know</a></li>
  		
	</ul>
	</div>
	<h1>Add a comment!</h1>
	<form action = "/chat" method = "post">
		<p>Name:</p>
		<input type="text" name="author_name" placeholder="Name">
		<p>Title:</p>
		<input type="text" name="title" placeholder="Your post's title">
		<p>Comment:</p>
		<textarea rows="5" cols="60" style="display: block;" name="content">
		</textarea>
		<br>
		<input type="submit" name="submit" value = "submit">
	</form>

	{% for post in all_posts %}
	<div class = "post_item">
		<h3 class = "post_title">{{post.title}}</h3>
		<h4 class = "post_author">By: {{post.author_name}}</h4>
		<p class = "post_content">{{post.content}}</p>
	</div>
	{% endfor %}

</body>
</html>