<!DOCTYPE html>
<html>
<head>

  <title>Home Page</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class = "navbar">

      <div class="nav_item"><a href="{{url_for( 'home')}}">Home</a></div>
      <div class="nav_item"><a href="{{url_for( 'chat')}}">Chat</a></div>
      <div class="nav_item"><a href="#benefits">Benefits</a></div>
      <div class="nav_item"><a href="{{url_for( 'admin_logout')}}" id = "log_out_button">Log Out</a></div>
  </div>

  <header>
    <div>    
      <h1> Choose to live better. </h1>
      <br>
      <a href="#getting_started" id = "start_btn">Get started</a>
    </div>
  </header>
  
<section id = "getting_started">
<br>
<br>
<br>
<br>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 5</div>
    <img src="static/final_photos/Choose.png" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 5</div>
    <img src="static/final_photos/design.png" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 5</div>
    <img src="static/final_photos/plants.png" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 5</div>
    <img src="static/final_photos/inastall.png" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 5</div>
    <img src="static/final_photos/wall.jpg" style="width:100%">
  <div class="text"></div>
</div>



<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span> 
</div>

<script type="text/javascript" src="{{ url_for('static', filename='home.js')}}"></script>
</section>

  <section class="page-section" id="benefits">
    <div class="container">
      <h2 class="text-center mt-0">Benefits</h2>
      <hr class="dividering light my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
             <img src="https://img.icons8.com/color/100/000000/vertical-settings-mixer.png" alt="adjust" style="width:25%;height:25%;border:0;">
            <br>
            <br>
            <br>
            <h3 class="h4 mb-2">Natural Isolation</h3>
            <p class="text-muted mb-0">The walls' structure provide natural acoustic and thermal isolation </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img src="https://img.icons8.com/color/96/000000/air-quality.png" alt="air" style="width:25%;height:25%;border:0;">
            <br>
            <br>
            <br>
            <h3 class="h4 mb-2">Clean Air</h3>
            <p class="text-muted mb-0">Plants absorb carbon-dioxide and produce Oxygen constantly</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img src="https://img.icons8.com/color/100/000000/get-cash.png" alt="business" style="width:25%;height:25%;border:0;">
            <br>
            <br>
            <br>
            <h3 class="h4 mb-2">Business Opportunity</h3>
            <p class="text-muted mb-0">Plant, grow, harvest and sell agricultural produce - without leaving your home</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <img src="https://img.icons8.com/color/100/000000/chocolate-tree-plantation.png" alt="aesthetic" style="width:25%;height:25%;border:0;">
          <br>
           <br>
           <br>
            <h3 class="h4 mb-2" >Aesthtic</h3>
            <p class="text-muted mb-0">Walls filled with plants are beautiful and aesthtically pleasing, as well as relaxing</p>
          </div>
        </div>
      </div>
</section>


<footer>
  <div class = "admin_login">
  <h4>Admin Login:</h4>
  <form action = '/admin-login' method="post">
    <input type="text" name="username" placeholder="username"> <br>
    <input type="password" name="password" placeholder="password"> <br>
    <input type="submit" name="submit" placeholder="submit">
  </form>
  </div>

  <div class = "creds text-center">  Created by: MEET group X4</div>

  <div class="social_media">
    <ul>
      <a href="https://www.facebook.com/greenwallisrael/"><img src="static/photos/facebook.png" class="reg"></a>
      <a href="https://instagram.com/green_wall_israel?igshid=8hqp82qlaz7j"><img src="static/photos/instagram-black-png-6.png" class="reg"></a>
      <a href="https://www.youtube.com/channel/UCgCCnOdfAUT2wU4DPl2_oUw"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/YouTube_social_dark_circle_%282017%29.svg/600px-YouTube_social_dark_circle_%282017%29.svg.png" id="youtube"></a>
    </ul>
  </div>
</footer>

</body>
</html>