<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div class = "navbar">
		<a href="{{url_for('home')}}">Home</a>
		<a href="{{url_for('chat')}}">Chat</a>
		<a href="{{url_for('tips')}}">Tips & must know</a>
	</div>
	<h1> Welcome to our home page </h1>
	<h4>Admin Login:</h4>
	<form action = '/admin-login' method="post">
		<input type="text" name="username" placeholder="username"> <br>
		<input type="password" name="password" placeholder="password"> <br>
		<input type="submit" name="submit" placeholder="submit">
	</form>

</body>
</html>