<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
	<div class = "navbar">
	<ul>
  		<li><a href="{{url_for( 'home')}}">Home</a></li>
  		<li><a href="{{url_for( 'chat')}}">Chat</a></li>
  		<li><a href="{{url_for( 'tips')}}">Tips & must know</a></li>
  		<li><a href="{{url_for( 'admin_logout')}}" id = "log_out_button">Log Out</a></li>
  		
	</ul>
	</div>
	<h1> Welcome to our home page </h1>
	<h4>Admin Login:</h4>
	<form action = '/admin-login' method="post">
		<input type="text" name="username" placeholder="username"> <br>
		<input type="password" name="password" placeholder="password"> <br>
		<input type="submit" name="submit" placeholder="submit">
	</form>

</body>
</html>